* {
    margin: 0;
    padding: 0;
}


body{
    background-color: #dcdfe4
}

main {
    width: 800px;
    height: 90vh;
    margin: auto;
    margin-top: 3em;
}


.Head-text{
    font: 2em Poppins;
    font-weight: 1000;
    margin-bottom: 2em;
}

form{
    display: flex;
    flex-direction: column;
}

.label{
    width: 800px;
    height: 1em;
    font: 2em poppins;
    font-weight: 300;
    

}

.input{
    padding: 0;
    font-size: 18px;
    margin-top: 20px;
    background-color: rgb(255, 252, 252);
    border: 0px solid;
    width: 800px;
    height: 5em;
    margin-bottom: 3em;
    border-radius: .5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-submit{
  width: 100px;
  height: 3em;
  margin-bottom: 5em;
  border-radius: .5em;
  background-color: black;
  color: aliceblue;
  align-self: flex-end;

}

